[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pandas = "*"
psycopg2 = "*"
datasets = "*"
torch = "*"
transformers = {extras = ["torch"], version = "*"}
nlpaug = "*"

[dev-packages]

[requires]
python_version = "3.13"
